<nav
  style="background-color: #fffffd !important; height: 4em"
  class="navbar navbar-expand-lg navbar-light bg-light"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ brand }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form style="margin-left: 5em" class="d-flex">
          <input
            name="search"
            [(ngModel)]="searchtext"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button (click)="search($event)" class="btn btn-outline-success">
            Search
          </button>
        </form>
      </ul>
      <label>{{ "Hello" | language }}</label>
      <div *ngIf="!isloggedin" class="d-flex">
        <button routerLink="/login" class="btn btn-primary">Login</button>
      </div>
      <div *ngIf="isloggedin" class="d-flex">
        <button
          style="margin-right: 5em"
          routerLink="/cart"
          class="btn btn-warning"
        >
          Cart
        </button>
        <button (click)="logout()" routerLink="/" class="btn btn-danger">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
